<a rel="noopener noreferrer" [href]="code.url" *ngIf="code.url.match('http')" target="_blank">
    <img Lazy src="{{code.full}}" alt="{{ code.title }}" class="img-fluid"  id="{{idImage}}" />
</a>
<a [routerLink]="[code.url]" *ngIf="!code.url.match('http')">
    <img Lazy src="{{code.full}}" alt="{{ code.title }}" class="img-fluid" id="{{idImage}}" />
</a>
