section {
    background: #fff !important;
}
.titulo {
  text-transform: uppercase !important
}

.legal {
    font-size: .65rem;

}

.tag {
    width: 100%;
    text-align: center;

    img {
        max-width: 8rem;
        margin-bottom: -35px;
        z-index: 1;
    }
}

.pack {
  background: linear-gradient(29deg, rgba(9, 45, 94, 1) 0%, rgba(5, 107, 220, 1) 100%);
  padding: 5px;
  //        padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 2px 2px 3px #00000040;
  border-radius: 10px;

  div{
    &:nth-child(1) {
      width: 20%;
      text-align: center;
      img {
        max-width: 60px;
        margin: 0 auto;
      }
    }
    &:nth-child(2){
      width: 80%;
      p{
        text-align: left;
        padding: 0 10px;
        color: #fff;
        margin-bottom: 0;
        font-size: .9rem;
        font-weight: 400;
        line-height: auto;
      }
    }
  }
}


.parcelamento {
    width: 100%;

    .tag {
        width: 100%;
        text-align: center;

        img {
            max-width: 8rem;
            margin-bottom: -35px;
            z-index: 1;
        }
    }
}

.laranja {
    background: #ff8924;
    width: 100%;
    padding: 30px 20px 5px 20px;
    color: white;
    border-radius: 15px 15px 0 0;

    h2 {
        margin-top: -5px;
    }

    .clube {
        border-radius: 15px;
        box-shadow: 0 10px 15px rgba(249, 144, 25, 0.44), 0 5px 5px rgba(251, 211, 130, 0.22);
    }
}

.azul {
    background: #1a91c6;
    width: 100%;
    padding: 5px 20px;
    color: white;
    box-shadow: 0 10px 15px rgba(43, 132, 162, 0.44), 0 5px 5px rgba(130, 226, 251, 0.22);

    h2 {
        margin-top: -5px;
        font-size:1.5rem;
    }
}

.radius{
  border-radius: 0 0 15px 15px !important;
}

.ddv {
  background: #37a0cd!important;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  div{
    &:nth-child(1) {
      padding: 10px 10px 10px;
      width: 35%;
    }
    &:nth-child(2) {
      width: 65%;
      padding: 0 5px;
      .sll{
        margin-top: -3px;
        margin-bottom: 0px;
        font-size: .85rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        span{
          color: #ffdd3d;
          font-weight: 700;
        }
      }
    }
  }
}

.sem-clube { opacity: 0; }

@media(max-width: 450px) {
    .titulo { font-size: 1.2rem;}
}
