<section id="bannerTres" class="py-3 py-md-0" *ngIf="(items | async) as banner">
  <div class="container d-none d-md-block">
    <div class="row ios">
      <div class="col-sm-4 ol-md-4 mb-1">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="2050" [animation]="'fade'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let l of banner.left">
            <helper-image [code]="l" idImage="banner-middle-left"></helper-image>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-sm-4 col-md-4 mb-1">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="2050" [animation]="'fade'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let c of banner.center">
            <helper-image [code]="c" idImage="banner-middle-center"></helper-image>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-sm-4 col-md-4 mb-1">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="2050" [animation]="'fade'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let r of banner.right">
            <helper-image [code]="r" idImage="banner-middle-right"></helper-image>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
  <div class="container d-md-none">
    <div class="row">
      <div class="col-12">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="3500" [animation]="'false'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let m of mobile">
            <helper-image [code]="m" idImage="banner-X"></helper-image>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
</section>
