<section id="departamento" class="py-3 py-md-5">
  <div class="container">
    <mdb-breadcrumb class="mb-5">
      <mdb-breadcrumb-item class="blue-text text-uppercase d-none d-md-block" [routerLink]="['/departamento', slug]">{{ departamento.nome }}</mdb-breadcrumb-item>
    </mdb-breadcrumb>
    <h1 class="b-08 border-bottom pb-1 mb-3 title">{{ departamento.nome }}</h1>
    <div class="row ios justify-content-center">
      <div class="col-lg-4 col-xl-3 bg-red">
        <helper-selector *ngIf="!init" type="alert"></helper-selector>
        <helper-selector *ngIf="init" type="alert" [load]="true"></helper-selector>
          <div class="news my-4">
              <h6 class="b-07 border-bottom pb-1 mb-1" (click)="toogleSector()">
                  {{ departamento.nome }}
                  <i class="fas float-right" [ngClass]="{'fa-plus': !viewSector, 'fa-minus': viewSector}"></i>
              </h6>
              <ul class="nav flex-column grey lighten-4 py-2 animated fadeIn faster" data-wow-delay=".1" *ngIf="viewSector">
                  <li class="nav-item" *ngFor="let s of sector" routerLinkActive="active">
                      <a class="nav-link b-07 f-09" [routerLink]="[
                          '/departamento', departamento.slug, 'setor', s.slug]">
                          {{ s.sector }}
                      </a>
                  </li>
              </ul>
          </div>
          <div class="news my-4">
              <h6 class="b-07 border-bottom pb-1 mb-1" (click)="toogleDepart()">
                  Todos os Departamentos
                  <i class="fas float-right" [ngClass]="{'fa-plus': !viewDepart, 'fa-minus': viewDepart}"></i>
              </h6>
              <ul class="nav flex-column grey lighten-4 py-2 animated fadeIn faster" data-wow-delay=".1" *ngIf="viewDepart">
                  <li class="nav-item" *ngFor="let n of menu" routerLinkActive="active">
                      <a class="nav-link b-07 f-09" [routerLink]="['/departamento/', n.slug]">
                          {{ n.departamento }}
                      </a>
                  </li>
              </ul>
          </div>
      </div>
        <div class="col-lg-8 col-xl-9">
          <!-- <div class="input-group mb-3">
            <input type="text" class="form-control"
              placeholder="Procure produtos deste departamento" (change)="onSearch($event)">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
          </div> -->
            <div class="row mt-3">
                <div class="col-6 col-md-6 col-lg -6 col-xl-4 mb-3"
                    *ngFor="let item of items | filtro: search:'dsc_produto'  |
                    paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                    <helper-product [code]="item"></helper-product>
                </div>
            </div>
            <div class="mt-5">
              <pagination-controls class="animated fade text-center mt-5 border-top pt-1"
                (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true">
              </pagination-controls>
            </div>
        </div>
    </div>
  </div>
</section>
