<div class="price-card" (click)="goToProduct()">
    <div class="img-container zoom">
        <p class="legal" *ngIf="product?.image">* Consulte as informaçoẽs legais.</p>
        <img appProduct [src]="code.host" alt="{{ product.dsc_produto }}" />
        <div class="pack" *ngIf="code?.dsc_kit">
            <img src="./assets/images/clube.png" alt="Tag Clube Condor">
            <span>{{ code?.dsc_kit | truncate: 35 }}</span>
        </div>
    </div>
    <div class="card-content">
        <p class="name text-uppercase">{{ product.dsc_produto | truncate: 24 }}</p>
        <div class="description mt-3">
            <span>{{ product.dsc_descricao | truncate: 30 }}</span>
        </div>
        <p class="regular" [hidden]="!code.qtd_clube && code.preco_clube === '0.00'">
            {{ code.preco_regular | currency: "R$":"symbol":"1.2-2":"pt" }}
            <span>{{product.embalagem }}</span>
        </p>
        <div class="ddv" [ngClass]="{'sem-clube': !code.preco_cashback }">
          <div>
            <img src="./assets/images/selo_ddv.png" alt="Dinheiro de Volta">
          </div>
          <div>
            <p class="sll"> recebe de volta <span>
              {{ code.preco_cashback | currency: "R$":"symbol":"1.2-2":"pt" }}
            </span></p>
          </div>
        </div>
        <div class="valor parcelamento">
            <div class="tag" [ngClass]="{ 'sem-clube': !code.preco_clube }">
                <img src="./assets/images/clube2.png" alt="Tag Clube Condor" class="mx-auto d-block">
            </div>
            <div class="laranja" *ngIf="code.parcela_clube">
                <p>
                    <span>{{ code.qtd_clube }}x</span> de<br>
                    <span class="parcela">{{ code.parcela_clube | currency: "R$":"symbol":"1.2-2":"pt" }}</span>
                </p>
            </div>
            <div class="azul" [ngClass]="{'sem-clube': !code.parcela_clube}">
                <p>Ou à vista</p>
                <h2>
                    {{ code.preco_clube | currency: "R$":"symbol":"1.2-2":"pt" }}
                    <span>{{product.embalagem }}</span></h2>
            </div>
            <div class="azul" *ngIf="!code.qtd_clube && code.preco_clube">
                <h2 class="mt-4">
                    {{ code.preco_clube | currency: "R$":"symbol":"1.2-2":"pt" }}
                    <span>{{product.embalagem }}</span></h2>
            </div>
        </div>
        <span class="validade mt-2">
            Oferta Válida de {{ product.start | date: "dd/MM/yyyy" }} a {{ product.end | date: "dd/MM/yyyy" }} para o
            {{ loja.nome }}
        </span>
    </div>
</div>
<!-- *ngIf="code.parcela_clube && code.preco_clube" -->
