.sem-clube { opacity: 0 !important; }

.price-card{
  width: 100%;
  text-align: left;
  float: left;
  margin: 5px;
  position: relative;
  border-radius: 2px;
  background: #f5f6fa;
  background: -moz-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
  background: -webkit-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
  background: linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &:hover {
    cursor: pointer;
    background: -moz-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    background: -webkit-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    background: linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .img-container {
    img{
      max-width: 100%;
    }
    height: 35%;
    padding: 10px 20px;
    text-align: center;
    min-height: 200px;
    position: relative;
    .legal {
      width: 200px;
      top: 205px;
      left: 2px;
      text-align: right;
      position: absolute;
      font-size: .6rem;
      transform-origin: 0 0;
      transform: rotate(-90deg);
    }
    .pack {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 100%;
      background: linear-gradient(29deg, rgba(9, 45, 94, 1) 0%, rgba(5, 107, 220, 1) 100%);
      text-align: center;
      color: #fff;
      padding: 5px;
      display: block;
      align-items: center;
      justify-content: center;
      font-size: .8rem;
      font-weight: 400;
      letter-spacing: -.12px;
      line-height: 1.2;
      box-shadow: 2px 2px 3px #00000040;
      border-radius: 10px;
      img {
        position: absolute;
        right: -5px;
        top: -15px;
        width: 40px;
        margin-top: -15px;
        height: auto;
      }
    }
  }
  .card-content {
    width: 100%;
    padding: 10px;
    min-height: 300px;
    display: -moz-inline-grid;
    display: -webkit-box;
    display: inline-grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: flex-top;
    justify-content: flex-top;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
    p {
      padding: 0 5px;
      width: 100%;
      height: 45px;
      font-size: 1rem;
      line-height: 1.1;
      font-weight: 900;
      position: relative;
      margin-bottom: 0rem;
      span {
        font-size: 1.1rem;
        font-weight: 900;
        text-transform: none;
        &.parcela {
          position: relative;
          &::after{
            content: "no cartão Condor";
            position: absolute;
            left: 103%;
            bottom: 1px;
            font-size: 0.7rem;
            width: 62px;
            line-height: 1.1;
            font-weight: 600;
          }
        }
      }
    }
    .description {
      width: 100%;
      height: 35px;
      span {
        display: block;
        font-size: .8rem;
      }
    }
    .regular {
      font-weight: 400;
      font-size: .9rem;
      margin-bottom: 0;
      margin-top: .75rem;
      span{
        font-size: .7rem;
        font-weight: 400;
        text-shadow: initial !important;
      }
    }
    h2 {
      text-align: left;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 900;
      span {
        font-size: .8rem;
      }
    }
  }
  .ddv {
    background: #37a0cd!important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
      &:nth-child(1) {
        padding: 4px 10px;
        text-align: center;
        img{
          margin: 0 auto;
          width: 60%;
        }
      }
      &:nth-child(2) {
        width: 100%;
        padding: 5px;
        .sll{
          margin-top: -3px;
          margin-bottom: 0px;
          font-size: .75rem;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          span{
            color: #ffdd3d;
            font-weight: 700;
          }
        }
      }
    }
  }

  .parcelamento, .sem-parcelamento { width: 100%; }
  .sem-parcelamento { margin-top: 135px; }

  .laranja *, .azul * { margin: 0; }
  .laranja {
    margin: 15px 0;
    .clube {
      border-radius: 15px;
      box-shadow: 0 10px 15px rgba(249, 144, 25, 0.44), 0 5px 5px rgba(251, 211, 130, 0.22)
    }
    h2 {
      margin-top: -3px;
    }
    .azul{
      h2 {
        margin-top: -3px;
        color: #1a91c6;
      }
    }
  }


  .tag {
    width: 100%;
    text-align: center;
    position: relative;
    margin: -10px 0 -20px 0;
    img {
      max-width: 50%;
      z-index: 2;
    }
    &:before {
      content: "";
      left: 0;
      top: 45%;
      width: 20%;
      height: 1px;
      background: #ff8924;
      position: absolute;
    }
    &:after {
      content: "";
      right: 0;
      top: 45%;
      width: 20%;
      height: 1px;
      background: #ff8924;
      position: absolute;
    }
  }

  .validade {
    font-size: .65rem;
    line-height: 1.1;
    margin-top: 5px;
    text-align: center;
    letter-spacing: 0px;
  }
}




@media(min-width: 375px) {
  .price-card{
    .ddv {
      flex-direction: row;
      align-items: center;
      div{
        &:nth-child(1) {
          padding: 3px;
          width: 35%;
          img{ width: 100%; }
        }
        &:nth-child(2) {
          width: 65%;
          .sll{
            margin-top: 2px ;
            font-size: .75rem;
          }
        }
      }
    }
    .tag {
      img { max-width: 60%; }
      &:before { width: 10%; }
      &:after { width: 10%; }
    }
  }
}


@media(min-width: 768px) {
  .price-card{
    .card-content{
      .description {
        span {
          font-size: .9rem;
        }
      }
    }
    .ddv {
      div{
        &:nth-child(2) {
          .sll{ margin-top: 11px; }
        }
      }
    }
    .validade {
      font-size: .70rem;
    }
  }
}
