<section id="sector" class="py-5">
    <div class="container">
        <mdb-breadcrumb class="mb-5">
            <mdb-breadcrumb-item class="blue-text text-uppercase" [routerLink]="['/departamento', url.link]">
                {{url.nome}}</mdb-breadcrumb-item>
                <mdb-breadcrumb-item class="text-muted text-uppercase"> {{ path.nome }} </mdb-breadcrumb-item>
        </mdb-breadcrumb>
        <div class="row ios justify-content-center">
            <div class="col-lg-4 col-xl-3 bg-red">
                <helper-selector *ngIf="!init" type="alert"></helper-selector>
                <helper-selector *ngIf="init" type="alert" [load]="true"></helper-selector>
                <h5 class="border-bottom pb-1 b-06 my-4 text-capitalize">{{url.nome}}</h5>
                <div class="news my-4">
                    <h5 class="b-07 border-bottom pb-1 mb-1" (click)="toogle()">
                        Setor
                        <i class="fas float-right" [ngClass]="{'fa-plus': !viewSector, 'fa-minus': viewSector}"></i>
                    </h5>
                    <ul class="nav flex-column grey lighten-4 py-2 animated fadeIn faster" data-wow-delay=".1" *ngIf="viewSector">
                        <li class="nav-item" *ngFor="let n of sector" routerLinkActive="active">
                            <a class="nav-link b-07 f-09" 
                                [routerLink]="['/departamento', url.link, 'setor', n.slug]">
                                {{ n.sector }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <h1 class="b-08 border-bottom pb-1 mb-3 text-capitalize">{{ path.nome  }}</h1>
                <input type="text" class="form-control" 
                    placeholder="Procure produtos deste setor" (change)="busca($event)">
                <div class="row mt-3">
                    <div class="col-6 col-md-6 col-lg -6 col-xl-4 mb-3"
                        *ngFor="let item of items | filtro: search:'dsc_produto'  | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                        <helper-product [code]="item"></helper-product>
                    </div>
                </div>
                <div class="mt-5">
                    <pagination-controls class="animated fade text-center mt-5 border-top pt-1"
                        (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>
