<div class="list-group">
    <a href="#" class="list-group-item py-2 rounded-0 waves-light f-09" mdbWavesEffect (click)="submenu()">
        {{ menu.title }}
        <i class="fas fa-angle-down float-right" [hidden]="!active"></i>
        <i class="fas fa-angle-up float-right" [hidden]="active"></i>
    </a>
</div>
<div class="list-group animated" [ngClass]="{
    'fadeOut d-none ': active,
    'fadeInLeft': !active
    }">
    <a class="list-group-item py-2 grey lighten-3 rounded-0 waves-light f-09" mdbWavesEffect *ngFor="let m of menu.menu"
        [routerLink]="[m.url]" routerLinkActive="active">
        <mdb-icon fas icon="angle-double-right"></mdb-icon>
        {{ m.nome }}
        <i class="fas fa-angle-right float-right"></i>
    </a>
</div>
