<ng-template [ngIf]="type ==='simple'">
    <a class="nav-link py-N header-menu d-none d-lg-block" (click)="open()" style="color: white!important;">
        <mdb-icon fas icon="map-marker"></mdb-icon> {{ miObjeto.nome }}
    </a>
    <div class="bg-ver p-2 d-lg-none">
        <a class="nav-link py-N header-menu white-text position-relative" (click)="frame.show()">
            <p class="mb-0 w-ajustes">Mostrando as ofertas para {{ miObjeto.nome }}</p>
            <mdb-icon fas icon="map-marker" class="ajuste"></mdb-icon>
        </a>
    </div>
</ng-template>



<div *ngIf="type === 'alert'" class="alert alert-info" role="alert">
    <a class="" (click)="frame.show()">
        <p class="mb-0 f-1">Mostrando as ofertas para <span class="b-7">{{ miObjeto.nome }}</span>
            <span class="ml-1"><i class="fas fa-retweet"></i></span>
        </p>
    </a>
</div>


<div mdbModal #frame="mdbModal" class="modal slide bottom rounded-0" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"  style="z-index: 10000;"
    [config]="{backdrop: true, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-dialog-centered" role="document" style="border-radius: 0px !important">
        <div class="modal-content" style="border-radius: 0px !important">
            <button type="button" class="close pull-right pt-2 pointer" aria-label="Close" (click)="close()" style="z-index: 100000;">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body rounded-0">
                <div class="py-4">
                    <div class="w-75 mx-auto">
                        <h5 class="text-center b-06">Selecione sua loja favorita e conheça as ofertas.</h5>
                    </div>
                </div>
                <div class="pb-2">
                    <select class="browser-default custom-select" (change)="getLojas($event)">
                        <option selected>Selecione a Cidade</option>
                        <option [value]="r.id" *ngFor="let r of region | async">{{ r.name }}</option>
                    </select>
                </div>
                <div class="pb-2">
                    <select class="browser-default custom-select" [(ngModel)]="condor">
                        <option selected>Selecione o Condor</option>
                        <option *ngFor="let l of lojas | async" [value]="l.id">{{ l.title['rendered'] }}</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="selectCondor()" mdbWavesEffect>
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
