@import "../../../variable.scss";

.top-menu{ width: 20%; }
.sidebar{
    position: fixed;
    width: 0px;
    z-index: 10000000000;
    height: 100vh;
    background: #e2e2e2;
}


.open{
    width: 300px;
}

.text-underline {
    text-decoration: underline;
}

.bg-mega {
    @include backGround(#f2faff);
}

.header-A {
    background: $cor-footer-background;
}

.header-B {
    background: $blue;
}

.nav-item:hover{
    background: rgba(0, 0, 0, .2);
}

.py-N {
    padding-right: 0.3rem !important;
    padding-left: 0.3rem !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
}

// Header Memu
.header-menu {
    color: #fff !important;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0px !important;
}

.letter-n-2 {
    letter-spacing: -2px;
}

.i-cartao {
    margin-right: 1rem !important;
}
#hovers:hover {
    background: rgba(0, 0, 0, 0.25) !important;
}

@media (max-width: 1024px) {
    .i-cartao {
        margin-right: 0.7rem !important;
        span {
            font-size: 0.7rem;
        }
    }

    .header-menu {
        font-size: 0.7rem;
    }
}
