<section id="Blog">
    <div id="Conteudo" class="container pt-4">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4" *ngFor="let item of items | paginate: { itemsPerPage: ip, currentPage: p, totalItems: header } ">
                        <div class="item m-2 rounded">
                            <a [routerLink]="['/blog', item.slug]">
                                <img [src]="item.full" class="w-100 rounded-top" alt="">
                            </a>
                            <div class="item-body">
                                <p class="date">
                                    <i class="far fa-calendar-alt mr-1"></i>
                                    {{ item.date | date: "dd/MM/yyyy" }}</p>
                                <h1>
                                    <a class="text-muted" [routerLink]="['/blog', item.slug]" routerLinkActive="router-link-active" >{{ item.title }}</a>
                                </h1>
                                <div class="item-tags">
                                    <i class="fas fa-tags mr-1 bag badge-outline-red"></i>
                                    <mdb-badge pill="true" class="bag badge-outline-red"
                                        *ngFor="let tag of item.tags | slice: 0:2" [routerLink]="['/blog', 'tag', tag.slug]">
                                        {{ tag.name }}
                                    </mdb-badge>
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="row justify-content-end">
                                    <div class="col-6 text-center">
                                        <a [routerLink]="['/blog', item.slug]" class="button-condor text-muted">
                                            Ler mais >>
                                        </a>
                                    </div>
                                    <div class="col-6  text-center" *ngIf="nav">
                                        <a (click)="share(item)"class="button-condor text-blog">
                                            <i class="fas fa-share mr-1"></i>Compartilhar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-3">
                    <pagination-controls class="animated fade text-center" (pageChange)="pageChanged($event)"
                    (pageBoundsCorrection)="pageChanged($event)" previousLabel="Anterior" nextLabel="Próximo" responsive="true">
                    </pagination-controls>
                </div>
            </div>
            <div class="col md-3">
                <app-aside></app-aside>
            </div>
        </div>
    </div>
</section>
