<ngx-loadable module="carousel" [show]="show"></ngx-loadable>
<app-ofertas *showItBootstrap="['md', 'lg', 'xl']" [code]="dia.code" [title]="dia.titulo" [icon]="dia.icon"
  [link]="dia.link" type="slug">
</app-ofertas>
<app-ofertas *showItBootstrap="['xs']" [code]="campanha.code" [title]="campanha.titulo" [icon]="campanha.icon"
  [link]="campanha.link" type="campanha"></app-ofertas>
<helper-faixa type="radar"></helper-faixa>
<div class="container my-2">
  <helper-selector type="alert"></helper-selector>
</div>
<app-ofertas [code]="semana.code" [title]="semana.titulo" [icon]="semana.icon" [link]="semana.link" type="slug">
</app-ofertas>
<ngx-loadable module="banners" [show]="show"></ngx-loadable>
<app-ofertas [code]="geral.code" [title]="geral.titulo" [icon]="geral.icon" [link]="geral.link" type="slug">
</app-ofertas>
<app-ofertas [code]="eletro.code" [title]="eletro.titulo" [icon]="eletro.icon" [link]="eletro.link" type="departamento">
</app-ofertas>
<helper-faixa type="clube"></helper-faixa>
<ngx-loadable module="posts" [show]="show"></ngx-loadable>
<ngx-loadable module="institucional" [show]="show"></ngx-loadable>

