<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red ie-nav d-none d-lg-block"
    [containerInside]="true" id="menuOfertas">
    <mdb-navbar-brand>
        <a rel="noopener noreferrer" class="navbar-brand" href="http://www.familiacondor.com.br" target="_blank" >
        <img src="./assets/images/familia.png" width="60px"
            alt="familia condor" class="d-lg-none d-xl-none" />
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav  pr-3 border-right-menu justify-content-start">
            <li class="nav-item dropdown mega-dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" mdbWavesEffect
                class="nav-link b-08 dropdown-toggle waves-light" >
                    Todas as ofertas<span class="caret"></span>
                </a>
                <div class="dropdown-menu mega-menu row z-depth-1 bg-mega w-100">
                    <div class="container">
                        <div class="row mx-md-4 mx-1">
                            <div class="col-lg-4 col-xl-3" *ngFor="let item of items | async">
                                <span>
                                    <a class="p-0"[routerLink]="['departamento', item.slug]">
                                        <p class="py-2 mb-0 border-bottom b-05">
                                            <span class="ml-2">{{ item.nome }}</span>
                                        </p>
                                    </a>
                                </span>
                            </div>
                            <div class="col-lg-4 col-xl-3" *ngFor="let item of campanha | async">
                              <a class="p-0"[routerLink]="[item.slug]">
                                <p class="py-2 mb-0 border-bottom b-05"><span class="ml-2">{{ item.nome }}</span></p>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mx-auto">
        <li class="nav-item waves-light px-0 px-xl-2" mdbWavesEffect *ngFor="let item of json | async">
            <a class="nav-link b-06" *ngIf="!item.external" [routerLink]="[item.url]">{{ item.name }}</a>
            <a rel="noopener noreferrer" class="nav-link b-06" *ngIf="item.external" [href]="[item.url]" target="_blank">{{ item.name }}</a>
        </li>
        </ul>
        <ul class="navbar-nav mr-auto border-left-menu pl-3" id="iconsrr">
            <li class="nav-item waves-light mr-1" mdbWavesEffect>
                <a rel="noopener noreferrer"
                class="nav-link b-08"
                href="https://www.youtube.com/user/redecondor"
                target="_blank"
                >Ofertas do dia
                <img src="./assets/images/tv.png" class="rot" alt="" />
                </a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a rel="noopener noreferrer"
                class="nav-link b-08"
                href="http://www.familiacondor.com.br"
                target="_blank"
                >
                <img src="./assets/images/familia.png" width="60px" alt="" />
                </a>
            </li>
            <li class="nav-item waves-light mr-1" mdbWavesEffect>
                <a rel="noopener noreferrer"
                class="nav-link b-08"
                href="https://www.condor.com.br/gourmet"
                target="_blank"
                >
                <img src="./assets/images/condor_gourmet.png" class="img-fluid" alt="" />
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
