@import '../../../variable.scss';

.nav-item:hover{ background: rgba($color: #000000, $alpha: .10); }
.menuBack { @include backGround($red); }
.bg-mega { @include backGround(#f2faff); }

.rot {
    transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    -o-transform: rotate(350deg);
}

#iconsrr { display: flex; }
.title-mega { color: $red; }

.text-underline {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .nav-item {
        font-size: .8rem !important;
    }
}

@media (max-width: 1114px) {
    .nav-item {
        font-size: 1rem !important;
    }
    #iconsrr {
        display: none;
    }
}
