<section id="loja" class="py-5">
    <div class="container">
        <h2 class="b-08 border-bottom pb-1 mb-3">O Condor mais Próximo</h2>
        <div class="row justify-content-center my-4">
            <div class="col-md-4 mb-2">
                <select class="browser-default custom-select" (change)="onLoja($event)">
                    <option selected value="All">Todas as regiões</option>
                    <option [value]="r.id" *ngFor="let r of region">{{ r.name }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="browser-default custom-select" (change)="goToLoja($event)">
                    <option selected value="All">Todas as lojas</option>
                    <option [value]="i.slug" *ngFor="let i of items">{{ i.title?.rendered }}</option>
                </select>
            </div>
        </div>
        <div class="row ios mb-5">
            <div class="col-md-6 col-lg-4 col-xl-4 mb-4" 
                *ngFor="let l of items | paginate: { itemsPerPage: 9, currentPage: p }">
                <helper-loja [loja]="l"></helper-loja>
            </div>
        </div>
        <pagination-controls class="animated fade text-center" (pageChange)="p = $event" 
            previousLabel="Anterior" nextLabel="Próximo" responsive="true">
        </pagination-controls>
    </div>
</section>
