<div class="boxs z-depth-3" [routerLink]="[loja.slug]">
    <h4 class="b-07 text-center pt-3 px-3 border-bottom pb-1 mb-2 text-muted">
        {{ loja.title?.rendered }} </h4>
    <div class="images" [ngStyle]="{'background': 'url('+ imagem +') no-repeat center center'}"></div>
</div>
