/* You can add global styles to this file, and also import other style files */
@import './variable.scss';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "~cookieconsent/build/cookieconsent.min";

body {
  font-family: "Nunito", sans-serif !important;
  background: $cor-default-background;
  color: $cor-default-text !important;
}

// Font Bold
.b-1, .b-01 { @include font-Weight(100); }
.b-2, .b-02 { @include font-Weight(200); }
.b-3, .b-03 { @include font-Weight(300); }
.b-4, .b-04 { @include font-Weight(400); }
.b-5, .b-05 { @include font-Weight(500); }
.b-6, .b-06 { @include font-Weight(600); }
.b-7, .b-07 { @include font-Weight(700); }
.b-8, .b-08 { @include font-Weight(800); }
.b-9, .b-09 { @include font-Weight(900); }

// Font Size
.f-5, .f-05 {@include font-Size(.5rem); }
.f-6, .f-06 {@include font-Size(.6rem); }
.f-7, .f-07 {@include font-Size(.7rem); }
.f-8, .f-08 {@include font-Size(.8rem); }
.f-9, .f-09 {@include font-Size(.9rem); }

// Decorators
.text-underline { text-decoration: underline !important; }
.cursor { cursor: pointer !important; }
.badge-outline-primary { color: #4285f4!important; background-color: #fff!important;}
.badge-outline-red { color: $red-alpha!important; background-color: #fff!important;}
.text-no-decoration { text-decoration: none !important;}
/////////////////////////////////////////////
// Conteudo Wordpress
#conteudo {
  text-align: justify;
  h1{ font-size: 1.6rem !important; }
  .has-text-align-center { text-align: center !important; }
  h1, h2, h3, h4, h5, h6 { @include font-Weight(700); }
  strong { @include font-Weight(800); }
  figure {
      .wp-caption.aligncenter { margin: 0 auto 30px; }
      img {
          width: 100% !important;
          max-width: 100% !important;
          height: auto !important;
          vertical-align: top !important;
      }
      .wp-caption-text {
          text-align: center;
          background: #f8f8f8;
          padding: 5px 0;
      }
  }
  p {
      img {
          margin-left: 5% !important;
          width: 90% !important;
          max-width: 100% !important;
          height: auto !important;
          vertical-align: top !important;
      }
  }
  .resaltador {
      background-color: #d3d3d3 !important;
      border-radius: 10px;
      padding: 10px 15px;
      font-size: .85rem !important;
  }
  .entry .entry-content .wp-block-columns { flex-wrap: nowrap !important; }
  .entry .entry-content > * > *:first-child,
  .entry .entry-summary > * > *:first-child {  margin-top: 0 !important; }
  .wp-block-columns { display: flex !important; }
  .wp-block-column { flex-grow: 0 !important; }
  .wp-block-column {
      flex-grow: 1 !important;
      min-width: 0 !important;
      word-break: break-word !important;
      overflow-wrap: break-word !important;
  }
  .wp-block-button.btn-primary{
      a {
          color: #fff !important;
          font-weight: 800 !important;
      }
  }
}
@media(max-width: 450px) {
  #conteudo {
      p {
          img {
              margin-left: 0% !important;
              width: 100% !important;
          }
      }
  }
}
///////////////////////////////////////////////////

//Carousel de Ofertas
.owl-theme .owl-nav [class*=owl-] {
  margin: 5px;
  padding: 6px;
  background: #f44336 !important;
  width: 30px;
  height: 30px;
  display: none;
  border-radius: 50% !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

@media(min-width: 1024px) {
  .owl-theme .owl-nav [class*="owl-"] {
      position: absolute;
      top: 200px;
      z-index: 10;
      background: #f44336 !important;
      width: 30px;
      height: 30px;
      border-radius: 50% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .owl-theme .owl-prev {
      left: -40px;
  }

  .owl-theme .owl-next {
      right: -40px;
  }
}

.btn-rounded {
  border-radius: 10em !important;
}

.btn-condor {
  @include backGround($blue-beta);
  color: #fff !important;
  font-weight: 700 !important;
  :hover { @include backGround($cor-footer-background); }
}

.controls-top {
  position: absolute;
  z-index: 1;
  flex: auto;
  top: 45%;
  width: 100%;

  .btn-floating {
      background: #bdbdbd;
      vertical-align: middle;
      width: 40px !important;
      height: 40px !important;
      color: #fff !important;
      line-height: 40px !important;
      border-radius: 25px !important;
      text-align: center !important;
      font-size: 1.3rem !important;
  }

  .btn-floating:nth-child(odd) {
      float: left;
      margin-left: -50px;
  }

  .btn-floating:nth-child(even) {
      float: right;
      margin-right: -50px;
  }
}

@media (max-width: 1024px) {
  .btn-floating:nth-child(odd) {
      margin-left: -35px !important;
  }

  .btn-floating:nth-child(even) {
      margin-right: -35px !important;
  }
}

@media (max-width: 800px) {
  .btn-floating:nth-child(odd) {
      margin-left: -30px !important;
  }

  .btn-floating:nth-child(even) {
      margin-right: -30px !important;
  }
}

@media (max-width: 450px) {
  .btn-floating:nth-child(odd) {
      margin-left: -10px !important;
  }

  .btn-floating:nth-child(even) {
      margin-right: -10px !important;
  }
}

.carousel-item.active {
  overflow: hidden !important;
}

.carousel-indicators {
  display: none !important;
  margin-bottom: -1.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;

  li {
      height: .7rem !important;
      width: .7rem !important;
      max-width: 1rem !important;
      background-color: #252525 !important;
      margin-bottom: 1rem !important;
  }

  .active {
      height: .8rem !important;
      width: .8rem !important;
      max-width: 1.56rem !important;
      background-color: #f44336 !important;
      border-radius: 50% !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
}

@media(max-width: 450px) {
  .carousel-indicators {
      display: none !important;
  }
}

.navbar {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .0), 0 0px 0px 0 rgba(0, 0, 0, .0) !important;

  // padding: .3rem 1rem !important;
  .mega-dropdown {
      width: 100% !important;
      position: static !important;
  }
}


.breadcrumb {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0rem !important;
  margin-bottom: 1rem;
  list-style: none;
  background: none !important;
  border-radius: 0.25rem;
}

.modal-backdrop {
  z-index: -1 !important;
}


.paginate-jantar .ngx-pagination li a span {
  color: #fff !important;
}

.paginate-jantar .ngx-pagination li a:hover span {
  color: rgb(71, 71, 71) !important;
}

.paginate-jantar .ngx-pagination a {
  color: #fff !important;
}

.paginate-jantar .ngx-pagination .current {
  background: #fff;
  color: red;
}


//MODAL
.modal {
  background: #000000ab;
}

.modal-dialog .modal-content {
  border-radius: 10px !important;
}

.modal-dialog .modal-content a.btn,
.modal-dialog .modal-content button.btn-sucess {
  background: #1e73be !important;
  color: white !important;
}

.modal-dialog.modal-notify.modal-success .modal-header {
  border-radius: 10px 10px 0 0 !important;
  background: #f44336 !important;
}

.modal-footer {
  justify-content: center !important;
}

@media(max-width: 450px) {
  .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }

  .breadcrumb {
      font-size: .75rem !important;
  }
}

@media(max-width: 768px) {
  // .modal {
  //     display: block !important;
  // }
}
