/////////////
$cor-default-background: #f2faff;
$cor-default-text: #444;
$cor-footer-background: #447ab3;
/////////////
$blue: #447ab3;
$blue-alpha: #2e65a5;
$blue-beta: #1e73be;
$red: #e64040;
$red-alpha: #940505dc;

// methods
@mixin font-Weight($num) { font-weight: $num !important; }
@mixin font-Size($num) { font-size: $num !important; }
@mixin backGround($color) { background: $color !important; }
